[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	branch = master
[submodule "vim/minpac"]
	path = vim/minpac
	url = https://github.com/k-takata/minpac.git
[submodule "fish/fisherman"]
	path = fish/fisherman
	url = https://github.com/fisherman/fisherman.git
