/* Ligatures */
.mtk6, .mtk13 {
  font-family: 'Fira Code'
}

/* Comments */
.mtk8 {
  font-family: 'Operator Mono';
  font-style: italic;
}

/* Hide explorer action icons */
.title-actions > .monaco-toolbar > .monaco-action-bar > .actions-container > .action-item > .action-label.icon.explorer-action {
  display: none !important;
}

